<md-card>
    <h1>About</h1>
</md-card>

<md-card>
  <md-spinner class="app-spinner"></md-spinner>
  <md-spinner color="accent" class="app-spinner"></md-spinner>
</md-card>

<md-card>
  <label>
    Indeterminate progress-bar
    <md-progress-bar
        class="app-progress"
        mode="indeterminate"
        aria-label="Indeterminate progress-bar example"></md-progress-bar>
  </label>

  <label>
    Determinate progress bar - {{progress}}%
    <md-progress-bar
        class="app-progress"
        color="accent"
        mode="determinate"
        [value]="progress"
        aria-label="Determinate progress-bar example"></md-progress-bar>
  </label>
</md-card>